body {
	background: url(http://www.rockandice.com/Article-Images/News-Photos/November-2015/Mile.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.everything{
	margin-right: 30%;
	margin-left: 25%;
	font-family: helvetica;
}

.everything h2{
	font-size: 26px;
	color: white;
	height: 45px;
	width: 70%;
}

.everything p{
	font-size: 18px;
	color:white;
	line-height: 30px;
	width: 70%;
}

.banner h1{
	font-family: helvetica;
	color: gray;
	top: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 50px;
	height: 75px;
	width:500px;
	background-color: white;
	border: 5px solid gray;
	margin-left: auto;
	margin-right: auto;
}

.main-content{
	float: left;
	position: absolute;
	width: 40%;
}


.snowboardingText {
	position: absolute;
	bottom: 200px;
	left: 30px;
	width: 50%;
}

.snowboardingImage img {
	position: absolute;
	top: 200px;
	left: 30px;
	width: 27%;
}


.climbingText {
	position: absolute;
	top: 200px;
	left: 700px;
	width: 50%;
}

.climbingImage img {
	position: absolute;
	bottom: 30px;
	left: 700px;
	width: 25%;
}

.windsurfingText {
	position: absolute;
	top: 600px;
	right: -360px;
	width: 50%;
}

.windsurfingImage img {
	position: absolute;
	top: 200px;
	right: 30px;
	width: 30%;
}


.sidenav {
	font-size: 20px;
	color: gray;
	float: right;
	position: relative;
	text-align: right;
}

