body {
	background: url(http://www.rockandice.com/Article-Images/News-Photos/November-2015/Mile.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.banner {
	text-align:center;
}

.banner h1{
	text-align:center;
	height:20px;
}

.everything{
	color:white;
}

.snowboarding img{
	width:400px;
	height:400px;
	float:left;
}

.snowboarding{
	float:left;

}


.climbing img{
	width:400px;
	height:400px;
	margin-left:8%;
}

.climbing h2{
	text-align: center;
}

.windsurfing {
	float:right;
}

.windsurfing img{
	width:400px;
	height:400px;
	float:right;
}